<div class="container" >

  <div class="row encabezado mt-2">
     <div class="col-6">
      <h3 class="d-inline-block ml-3">Listado de Pokemon</h3>
     </div>
     <div class="col-6 text-end">
        <button class="btn  btn-outline-light text-primary border" [disabled]="pokedex?.previous==null"  (click)="previousPage()">Atras</button>
        <button class="btn  btn-primary  ms-2"  (click)="nextPage()" >Siguiente Pagina</button>
     </div>
     <hr>
  </div>
    <div class="container_list_pokemon mt-2 ">

      <div class="row">
        <div class="pokemon col-md-3 col-xs-2 col-lg-2 col-sm-4 mb-2" *ngFor="let item of pokemons">
        <div class="col-md-1"></div>
          <div class="card">
            <img src="https://static.wikia.nocookie.net/eswikia/images/d/df/Pok%C3%A9mon.png/revision/latest/scale-to-width-down/980?cb=20170308220152" class="card-img-top" height="100" width="100" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <a  *ngIf="!item.isFavorite" (click)="addPokemonToFavorite(item)" class="btn btn-sm btn-outline-primary">Añadir</a>
              <span  *ngIf="item.isFavorite"  class="badge bg-light text-success border ">Añadido a favorito</span>

            </div>
          </div>
      </div>

      </div>

      <div class="loading_pokemons text-center"  *ngIf="loadingListado">
        <app-loading></app-loading>
      </div>
   </div>




