<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">Pokémon</span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
            Pokédex
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem routerLink="pokedex/pokemons" (click)="$event.preventDefault()">Pokemons</a>
            <a ngbDropdownItem routerLink="pokedex/favorites" (click)="$event.preventDefault()">Favoritos <i class="bi bi-star-half"></i>
            </a>
            <a ngbDropdownItem routerLink="sorprise" (click)="$event.preventDefault()">¡Sorpresa Aqui!</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
